.container-fluid {
    background: #fff;
    color: black;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-right {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.logout {
    color: black;
    background-color:white;
}

.login-link {
    text-decoration: none;
}

.logout-link {
    text-decoration: none;
    color: #fff;
}

.category-list {
    width: 20%;
    margin-right: 20px;
}

.category-list h2 {
    font-size: 30px;
    padding-top: 10px;
    font-weight: bold;
}

.category-list h2 a {
    font-size: 30px;
    padding-top: 10px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
 
}

.item-style {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.card-item {
    justify-content: space-around;
    flex-wrap: wrap;
    width: 60%;
}

.card {
    width: 23%;
    margin-top: 30px;
    height: 350px;
}

.card img {
    width: 100%;
    height: 200px;
}

.shopping-bag {
    width: 20%;
}
.nav-left {
    align-items: center;
    text-align: center;
}
 
.nav-left a {
    text-decoration: none;
    color: #333;
    align-items: center;
    text-align: center;
}

.nav-left a i {
    color: #333;
    margin-left: 15px;
}

header .shopping {
    position: relative;
    text-align: right;
}

header .shopping img {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

header .shopping span {
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 50%;
    padding: 3px 10px;
}
.logout-icon {
    font-size: 14px;
    color: black;
}
.logout {
    background-color:white;
    margin-left:10px ;
    margin-right:10px ;
}
.logo_icon {
    margin-left: 10px;
}
header .shopping {
    position: relative;
    text-align: right;
}

header .shopping img {
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

header .shopping span {
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 50%;
    padding: 3px 8px;
    font-size: 10px;
}
.logout-icon {
    font-size: 14px;
    color: black;
}
.logout {
    background-color:white;
}
.logo_icon {
    margin-left: 10px;
}
.list-group-item.active {
    background-color: #f0f0f0; /* Đặt màu nền mong muốn của bạn */
    font-weight: bold; /* Đặt trọng lượng phông mong muốn hoặc bất kỳ kiểu khác */
}
.search--box {
    margin-right: 10px;
}
.search-buton {
    margin-left: 10px;
}
.phan-trang {
    margin-top: 20px;
    text-align: center;
  }

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
  }

.page-item {
    display: inline;
  }

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #ddd;
}
.page-link:hover {
    z-index: 2;
    color: #0056b3;
    background-color: #e9ecef;
    border-color: #ddd;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.phan-trang {
    margin-top: 20px; /* Khoảng cách giữa nút phân trang và nội dung chính */
    text-align: center; /* Căn giữa nút phân trang */
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0; /* Khoảng cách giữa nút phân trang và nội dung chính */
    border-radius: 4px;
}

.pagination li {
    display: inline;
    margin-right: 5px; /* Khoảng cách giữa các nút phân trang */
}

.pagination li:last-child {
    margin-right: 0; /* Loại bỏ khoảng cách của nút phân trang cuối cùng */
}

.pagination a {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}

.pagination .active a {
    z-index: 2;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.pagination a:hover,
.pagination a:focus {
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}